USE [master]
GO
/****** Object:  Database [bd_comics_elbatarazo]    Script Date: 15/4/2026 23:29:29 ******/
CREATE DATABASE [bd_comics_elbatarazo]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'bd_comics_elbatarazo', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\bd_comics_elbatarazo.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'bd_comics_elbatarazo_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\bd_comics_elbatarazo_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [bd_comics_elbatarazo].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [bd_comics_elbatarazo]
GO
/****** Object:  Table [dbo].[comics]    Script Date: 15/4/2026 23:29:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[comics](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_proveedor] [int] NOT NULL,
	[nombre] [varchar](255) NOT NULL,
	[numero_saga] [varchar](50) NULL,
	[edicion] [varchar](255) NULL,
	[portada] [varchar](255) NULL,
	[version] [varchar](50) NOT NULL,
	[valor_base] [decimal](12, 2) NOT NULL,
	[precio_final] [decimal](12, 2) NOT NULL,
	[stock] [int] NOT NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalle_venta]    Script Date: 15/4/2026 23:29:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle_venta](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_venta] [int] NOT NULL,
	[id_comic] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio_unitario] [decimal](12, 2) NOT NULL,
	[subtotal] [decimal](12, 2) NOT NULL,
	[impuesto] [decimal](12, 2) NOT NULL,
	[descuento] [decimal](12, 2) NOT NULL,
 CONSTRAINT [PK__detalle___3213E83FD22FDCB0] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[direcciones_envio]    Script Date: 15/4/2026 23:29:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[direcciones_envio](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[usuario_id] [int] NOT NULL,
	[nombre_contacto] [varchar](150) NOT NULL,
	[telefono] [varchar](50) NOT NULL,
	[direccion_exacta] [text] NOT NULL,
	[provincia] [varchar](100) NOT NULL,
	[canton] [varchar](100) NOT NULL,
	[distrito] [varchar](100) NOT NULL,
	[referencias] [text] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[envio_estados_historial]    Script Date: 15/4/2026 23:29:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[envio_estados_historial](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[envio_id] [int] NOT NULL,
	[estado] [varchar](20) NOT NULL,
	[fecha] [datetime] NULL,
	[comentario] [text] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[envios]    Script Date: 15/4/2026 23:29:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[envios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[venta_id] [int] NOT NULL,
	[direccion_envio_id] [int] NOT NULL,
	[estado] [varchar](20) NOT NULL,
	[fecha_salida] [datetime] NULL,
	[fecha_estimada_llegada] [datetime] NULL,
	[fecha_entrega] [datetime] NULL,
	[observaciones] [text] NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pedido_lineas]    Script Date: 15/4/2026 23:29:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pedido_lineas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_pedido] [int] NOT NULL,
	[id_comic] [int] NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio_unitario] [decimal](12, 2) NOT NULL,
	[precio_unitario_net] [decimal](12, 2) NULL,
	[iva] [decimal](12, 2) NULL,
	[subtotal] [decimal](12, 2) NOT NULL,
	[subtotal_net] [decimal](12, 2) NULL,
	[subtotal_con_iva] [decimal](12, 2) NULL,
	[descuento] [decimal](12, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pedidos_proveedores]    Script Date: 15/4/2026 23:29:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pedidos_proveedores](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[id_proveedor] [int] NOT NULL,
	[id_usuario_solicita] [varchar](100) NOT NULL,
	[notas] [text] NULL,
	[total] [decimal](12, 2) NULL,
	[total_net] [decimal](12, 2) NULL,
	[total_iva] [decimal](12, 2) NULL,
	[total_con_iva] [decimal](12, 2) NULL,
	[estado] [varchar](50) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[proveedores]    Script Date: 15/4/2026 23:29:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[proveedores](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](200) NOT NULL,
	[telefono] [varchar](50) NULL,
	[correo] [varchar](200) NULL,
	[created_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 15/4/2026 23:29:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[usuario] [varchar](100) NULL,
	[correo] [varchar](150) NULL,
	[fechaNacimiento] [datetime] NULL,
	[clave] [varchar](255) NULL,
	[rol] [varchar](20) NOT NULL,
	[creado_en] [datetime] NULL,
	[edad] [int] NULL,
 CONSTRAINT [PK__usuarios__3213E83FBBC5D794] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ventas]    Script Date: 15/4/2026 23:29:29 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ventas](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [datetime] NOT NULL,
	[subtotal] [decimal](12, 2) NOT NULL,
	[impuesto] [decimal](12, 2) NOT NULL,
	[total] [decimal](12, 2) NOT NULL,
	[moneda] [varchar](10) NOT NULL,
	[usuario_id] [int] NULL,
	[descuento] [decimal](12, 2) NOT NULL,
 CONSTRAINT [PK__ventas__3213E83F387770EC] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[comics] ON 

INSERT [dbo].[comics] ([id], [id_proveedor], [nombre], [numero_saga], [edicion], [portada], [version], [valor_base], [precio_final], [stock], [created_at]) VALUES (1, 1, N'Spider-Man #1', N'2', N'Primera Edición', N'https://upload.wikimedia.org/wikipedia/en/8/8d/Amazing_Spider-Man_Vol_1_1.jpg', N'coleccionable', CAST(5500.00 AS Decimal(12, 2)), CAST(8000.00 AS Decimal(12, 2)), 15, CAST(N'2026-04-08T20:30:43.170' AS DateTime))
INSERT [dbo].[comics] ([id], [id_proveedor], [nombre], [numero_saga], [edicion], [portada], [version], [valor_base], [precio_final], [stock], [created_at]) VALUES (2, 1, N'Iron Man #1', N'1', N'Edición Especial', N'https://upload.wikimedia.org/wikipedia/en/4/47/Iron_Man_Vol_5_1.jpg', N'coleccionable', CAST(8000.00 AS Decimal(12, 2)), CAST(12000.00 AS Decimal(12, 2)), 50, CAST(N'2026-04-08T20:31:41.533' AS DateTime))
INSERT [dbo].[comics] ([id], [id_proveedor], [nombre], [numero_saga], [edicion], [portada], [version], [valor_base], [precio_final], [stock], [created_at]) VALUES (3, 1, N'Batman #1', N'1', N'Edición Normal', N'https://upload.wikimedia.org/wikipedia/en/6/6c/Batman_DC_Comics.png', N'normal', CAST(4500.00 AS Decimal(12, 2)), CAST(6000.00 AS Decimal(12, 2)), 8, CAST(N'2026-04-08T20:31:58.140' AS DateTime))
SET IDENTITY_INSERT [dbo].[comics] OFF
GO
SET IDENTITY_INSERT [dbo].[proveedores] ON 

INSERT [dbo].[proveedores] ([id], [nombre], [telefono], [correo], [created_at]) VALUES (1, N'Marvel Comics Premium', N'88888888', N'marvel@comics.com', CAST(N'2026-04-08T20:12:15.117' AS DateTime))
SET IDENTITY_INSERT [dbo].[proveedores] OFF
GO
SET IDENTITY_INSERT [dbo].[usuarios] ON 

INSERT [dbo].[usuarios] ([id], [usuario], [correo], [fechaNacimiento], [clave], [rol], [creado_en], [edad]) VALUES (1, N'Admin Principal', N'admin@tienda.com', NULL, N'admin123', N'admin', CAST(N'2026-04-10T21:20:01.067' AS DateTime), 30)
INSERT [dbo].[usuarios] ([id], [usuario], [correo], [fechaNacimiento], [clave], [rol], [creado_en], [edad]) VALUES (2, N'Vendedor Uno', N'vendedor@tienda.com', NULL, N'vendedor123', N'vendedor', CAST(N'2026-04-10T21:20:01.067' AS DateTime), 25)
INSERT [dbo].[usuarios] ([id], [usuario], [correo], [fechaNacimiento], [clave], [rol], [creado_en], [edad]) VALUES (3, N'Cliente Uno', N'cliente@tienda.com', NULL, N'cliente123', N'cliente', CAST(N'2026-04-10T21:20:01.067' AS DateTime), 22)
SET IDENTITY_INSERT [dbo].[usuarios] OFF
GO
SET IDENTITY_INSERT [dbo].[ventas] ON 

INSERT [dbo].[ventas] ([id], [fecha], [subtotal], [impuesto], [total], [moneda], [usuario_id], [descuento]) VALUES (2, CAST(N'2026-04-10T22:55:08.110' AS DateTime), CAST(23008.85 AS Decimal(12, 2)), CAST(2991.15 AS Decimal(12, 2)), CAST(26000.00 AS Decimal(12, 2)), N'CRC', 1, CAST(0.00 AS Decimal(12, 2)))
INSERT [dbo].[ventas] ([id], [fecha], [subtotal], [impuesto], [total], [moneda], [usuario_id], [descuento]) VALUES (3, CAST(N'2026-04-14T22:03:57.940' AS DateTime), CAST(26000.00 AS Decimal(12, 2)), CAST(3380.00 AS Decimal(12, 2)), CAST(29380.00 AS Decimal(12, 2)), N'CRC', 3, CAST(0.00 AS Decimal(12, 2)))
INSERT [dbo].[ventas] ([id], [fecha], [subtotal], [impuesto], [total], [moneda], [usuario_id], [descuento]) VALUES (4, CAST(N'2026-04-15T21:23:10.330' AS DateTime), CAST(54867.26 AS Decimal(12, 2)), CAST(7132.74 AS Decimal(12, 2)), CAST(62000.00 AS Decimal(12, 2)), N'CRC', 1, CAST(0.00 AS Decimal(12, 2)))
SET IDENTITY_INSERT [dbo].[ventas] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__usuarios__2A586E0BF95266AC]    Script Date: 15/4/2026 23:29:29 ******/
ALTER TABLE [dbo].[usuarios] ADD  CONSTRAINT [UQ__usuarios__2A586E0BF95266AC] UNIQUE NONCLUSTERED 
(
	[correo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__usuarios__9AFF8FC65A9CB4FF]    Script Date: 15/4/2026 23:29:29 ******/
ALTER TABLE [dbo].[usuarios] ADD  CONSTRAINT [UQ__usuarios__9AFF8FC65A9CB4FF] UNIQUE NONCLUSTERED 
(
	[usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[comics] ADD  DEFAULT ((0)) FOR [stock]
GO
ALTER TABLE [dbo].[comics] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[direcciones_envio] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[envio_estados_historial] ADD  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[envios] ADD  DEFAULT ('pendiente') FOR [estado]
GO
ALTER TABLE [dbo].[envios] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[pedido_lineas] ADD  DEFAULT ((0)) FOR [precio_unitario_net]
GO
ALTER TABLE [dbo].[pedido_lineas] ADD  DEFAULT ((0)) FOR [iva]
GO
ALTER TABLE [dbo].[pedido_lineas] ADD  DEFAULT ((0)) FOR [subtotal_net]
GO
ALTER TABLE [dbo].[pedido_lineas] ADD  DEFAULT ((0)) FOR [subtotal_con_iva]
GO
ALTER TABLE [dbo].[pedidos_proveedores] ADD  DEFAULT ((0)) FOR [total]
GO
ALTER TABLE [dbo].[pedidos_proveedores] ADD  DEFAULT ((0)) FOR [total_net]
GO
ALTER TABLE [dbo].[pedidos_proveedores] ADD  DEFAULT ((0)) FOR [total_iva]
GO
ALTER TABLE [dbo].[pedidos_proveedores] ADD  DEFAULT ((0)) FOR [total_con_iva]
GO
ALTER TABLE [dbo].[pedidos_proveedores] ADD  DEFAULT ('pendiente') FOR [estado]
GO
ALTER TABLE [dbo].[pedidos_proveedores] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[proveedores] ADD  DEFAULT (getdate()) FOR [created_at]
GO
ALTER TABLE [dbo].[usuarios] ADD  CONSTRAINT [DF__usuarios__rol__5EBF139D]  DEFAULT ('cliente') FOR [rol]
GO
ALTER TABLE [dbo].[usuarios] ADD  CONSTRAINT [DF__usuarios__creado__5FB337D6]  DEFAULT (getdate()) FOR [creado_en]
GO
ALTER TABLE [dbo].[ventas] ADD  CONSTRAINT [DF__ventas__fecha__787EE5A0]  DEFAULT (getdate()) FOR [fecha]
GO
ALTER TABLE [dbo].[ventas] ADD  CONSTRAINT [DF__ventas__moneda__797309D9]  DEFAULT ('CRC') FOR [moneda]
GO
ALTER TABLE [dbo].[comics]  WITH CHECK ADD  CONSTRAINT [FK_comics_proveedor] FOREIGN KEY([id_proveedor])
REFERENCES [dbo].[proveedores] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[comics] CHECK CONSTRAINT [FK_comics_proveedor]
GO
ALTER TABLE [dbo].[detalle_venta]  WITH CHECK ADD  CONSTRAINT [FK_detalle_venta_comic] FOREIGN KEY([id_comic])
REFERENCES [dbo].[comics] ([id])
GO
ALTER TABLE [dbo].[detalle_venta] CHECK CONSTRAINT [FK_detalle_venta_comic]
GO
ALTER TABLE [dbo].[detalle_venta]  WITH CHECK ADD  CONSTRAINT [FK_detalle_venta_venta] FOREIGN KEY([id_venta])
REFERENCES [dbo].[ventas] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[detalle_venta] CHECK CONSTRAINT [FK_detalle_venta_venta]
GO
ALTER TABLE [dbo].[direcciones_envio]  WITH CHECK ADD  CONSTRAINT [FK_direcciones_envio_usuario] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[usuarios] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[direcciones_envio] CHECK CONSTRAINT [FK_direcciones_envio_usuario]
GO
ALTER TABLE [dbo].[envio_estados_historial]  WITH CHECK ADD  CONSTRAINT [FK_envio_historial_envio] FOREIGN KEY([envio_id])
REFERENCES [dbo].[envios] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[envio_estados_historial] CHECK CONSTRAINT [FK_envio_historial_envio]
GO
ALTER TABLE [dbo].[envios]  WITH CHECK ADD  CONSTRAINT [FK_envios_direccion] FOREIGN KEY([direccion_envio_id])
REFERENCES [dbo].[direcciones_envio] ([id])
GO
ALTER TABLE [dbo].[envios] CHECK CONSTRAINT [FK_envios_direccion]
GO
ALTER TABLE [dbo].[envios]  WITH CHECK ADD  CONSTRAINT [FK_envios_venta] FOREIGN KEY([venta_id])
REFERENCES [dbo].[ventas] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[envios] CHECK CONSTRAINT [FK_envios_venta]
GO
ALTER TABLE [dbo].[pedido_lineas]  WITH CHECK ADD  CONSTRAINT [FK_pedido_lineas_comic] FOREIGN KEY([id_comic])
REFERENCES [dbo].[comics] ([id])
GO
ALTER TABLE [dbo].[pedido_lineas] CHECK CONSTRAINT [FK_pedido_lineas_comic]
GO
ALTER TABLE [dbo].[pedido_lineas]  WITH CHECK ADD  CONSTRAINT [FK_pedido_lineas_pedido] FOREIGN KEY([id_pedido])
REFERENCES [dbo].[pedidos_proveedores] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[pedido_lineas] CHECK CONSTRAINT [FK_pedido_lineas_pedido]
GO
ALTER TABLE [dbo].[pedidos_proveedores]  WITH CHECK ADD  CONSTRAINT [FK_pedidos_proveedores_proveedor] FOREIGN KEY([id_proveedor])
REFERENCES [dbo].[proveedores] ([id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[pedidos_proveedores] CHECK CONSTRAINT [FK_pedidos_proveedores_proveedor]
GO
ALTER TABLE [dbo].[ventas]  WITH CHECK ADD  CONSTRAINT [FK_ventas_usuario] FOREIGN KEY([usuario_id])
REFERENCES [dbo].[usuarios] ([id])
ON DELETE SET NULL
GO
ALTER TABLE [dbo].[ventas] CHECK CONSTRAINT [FK_ventas_usuario]
GO
ALTER TABLE [dbo].[comics]  WITH CHECK ADD  CONSTRAINT [CK_comics_version] CHECK  (([version]='coleccionable' OR [version]='normal'))
GO
ALTER TABLE [dbo].[comics] CHECK CONSTRAINT [CK_comics_version]
GO
ALTER TABLE [dbo].[envio_estados_historial]  WITH CHECK ADD  CONSTRAINT [CK_envio_historial_estado] CHECK  (([estado]='cancelado' OR [estado]='entregado' OR [estado]='en_transito' OR [estado]='enviado' OR [estado]='preparando' OR [estado]='pendiente'))
GO
ALTER TABLE [dbo].[envio_estados_historial] CHECK CONSTRAINT [CK_envio_historial_estado]
GO
ALTER TABLE [dbo].[envios]  WITH CHECK ADD  CONSTRAINT [CK_envios_estado] CHECK  (([estado]='cancelado' OR [estado]='entregado' OR [estado]='en_transito' OR [estado]='enviado' OR [estado]='preparando' OR [estado]='pendiente'))
GO
ALTER TABLE [dbo].[envios] CHECK CONSTRAINT [CK_envios_estado]
GO
ALTER TABLE [dbo].[usuarios]  WITH CHECK ADD  CONSTRAINT [CK_usuarios_rol] CHECK  (([rol]='cliente' OR [rol]='vendedor' OR [rol]='admin'))
GO
ALTER TABLE [dbo].[usuarios] CHECK CONSTRAINT [CK_usuarios_rol]
GO
ALTER TABLE [dbo].[ventas]  WITH CHECK ADD  CONSTRAINT [CK_ventas_moneda] CHECK  (([moneda]='USD' OR [moneda]='CRC'))
GO
ALTER TABLE [dbo].[ventas] CHECK CONSTRAINT [CK_ventas_moneda]
GO
USE [master]
GO
