.border-bottom {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding: 8px 0;
}

.edicion {
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.7) !important;
}

.precio {
  font-weight: bold;
  color: #ffd700 !important;
  font-size: 0.9rem;
}

ion-img {
  border-radius: 8px;
}
